:root {
  /* colors */
  --color-white: white;
  --color-website: hsl(185, 41%, 84%);
  --color-teal-100: hsl(189, 41%, 97%);
  --color-teal-200: hsl(186, 14%, 43%);
  --color-grey-300: hsl(172, 67%, 45%);
  --color-teal-400: #0d676c;
  --color-teal-500: #045d62;
  --color-teal-600: hsl(183, 100%, 15%);

  /* text */
  --text-body-mobile: 14px;
 
  --text-button-mobile: 14px;
  --text-money-mobile: 30px;
  --text-button-desktop: 24px;
  --text-money-desktop: 50px;
  --text-header: 22px;

  /* spacing */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 1.75rem;
  --space-2xl: 2rem;
  --space-3xl: 3rem;
  --space-4xl: 5rem;
}

body {
  background-color: var(--color-website);
  margin: 0;
  min-height: 100vh;
  font-family: 'Space Mono', monospace;
  color: var(--color-teal-200);
  display: flex;
  justify-content: center;
  align-items: center;

}

.page {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-xl);
  min-height: 100%;
  max-width: 70rem;
  padding: var(--space-2xl) 0;
  
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;  
  letter-spacing: var(--space-sm);
  font-size: var(--text-header);
  color: var(--color-teal-600);
}

header span:nth-of-type(2) {
  color: var(--color-teal-200)
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-2xl);
  border-radius: var(--space-lg);
  background-color: var(--color-white);
  margin: 0 var(--space-4xl);
  padding: var(--space-2xl);
}

.column {
  display: flex;
  flex-direction: column;
}

.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: var(--space-md);
}

.label {
  line-height: var(--space-3xl);
  margin: 0;
}

#bill-amount, #number-of-people {
  width: 100%;
}

#bill-amount {
  background: url(images/icon-dollar.svg) no-repeat scroll var(--space-sm);
  background-color: var(--color-teal-100);
}

#number-of-people {
  background: url(images/icon-person.svg) no-repeat scroll var(--space-sm);
  background-color: var(--color-teal-100);
}

button, input {
  font-size: var(--text-button-desktop);
  font-family: inherit;
  border-radius: var(--space-sm);
  border: none;
}

input {
  color: var(--color-teal-600);
  border: var(--space-xs) solid transparent;
  text-align: right;
}

input:focus {
  outline: none !important;
  border: var(--space-xs) solid var(--color-grey-300) !important;
 }

.tip-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--space-sm);
}

.tip-buttons input, .tip-buttons button {
  text-align: center;
  padding: var(--space-sm);
 }

.unselected {
  background-color: var(--color-teal-600);
  color: var(--color-white);
}

.tip-buttons button:hover, .selected  {
  cursor: pointer;
  background-color: var(--color-grey-300);
  color: var(--color-teal-600);
}

#custom {
  min-width: 0;
}

.right {
  border-radius: var(--space-lg);
  background-color: var(--color-teal-600);
  color: var(--color-white);
}

.person {
  color: var(--color-teal-200);
}

.dollar-amount {
  display: flex;
  justify-content: space-between;
}

.money {
  font-size: var(--text-money-desktop);
  color: var(--color-grey-300);
  line-height: var(--space-3xl);
}

#reset {
  padding: var(--space-sm);
  border-radius: var(--space-sm);
  width: 100%;
  background-color: var(--color-teal-400);
  color: var(--color-teal-500);
}

#reset:hover {
  cursor: pointer;
  background-color: var(--color-grey-300);
  color: var(--color-teal-600);
  
}

footer {
  text-align: center;
}

@media (max-width: 900px) {
  body {
    font-size: var(--text-body-mobile);
  }
  
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr ;
    margin: 0 var(--space-2xl);
    padding: var(--space-md);
  }

  button, input {
    font-size: var(--text-button-mobile);
  }

  .money {
    font-size: var(--text-money-mobile);
  }

  #bill-amount, #number-of-people {
    line-height: var(--space-xl);
  }

  footer {
    margin: 0 var(--space-md);
  }
}